@import url('https://fonts.googleapis.com');

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Poppins', sans-serif;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead tr {
    background-color: #009879;
    color: #e00f0f;
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 15px 20px;
}

tbody tr {
    border-bottom: 1px solid #bec04c;
    transition: background-color 0.3s ease;
}

tbody tr:nth-of-type(even) {
    background-color: #e02323;
}

tbody tr:last-of-type {
    border-bottom: 4px solid #278874;
}

tbody tr:hover {
    background-color: #18b420;
    cursor: pointer;
    color: #2058d1;
    font-weight: 600;
}

/* Specific styling for the Points column */
td:last-child {
    font-weight: bold;
}
